/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #ffffff;
}

/* Estilos do cabeçalho */
header {
  background-color: #ffffff;
  padding: 20px;
  color: #0E3FBE;
}

header h1 {
  margin: 0;
  line-height: 1.2;
  margin-top: 20px;
}

/* Estilos do banner */
.banner {
  width: 100%;
  height: 0;
  padding-bottom: 25%; /* Ajuste essa porcentagem de acordo com a proporção da imagem */
  background-image: url('/imagens/Banner\ Manhattan\ Centro\ Médico.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos da navegação */
nav {
  background-color: #c3c9c9;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 5px;
  font-weight: bold;
}

/* Estilos do link de cadastro */
.nav-right {
  float: right;
}

/* Estilos da seção principal */
.content {
  text-align: center; /* Centraliza o conteúdo */
}

.content h2 {
  margin-top: 100px;
}

.content .paragraph {
  margin-bottom: 20px;
}

.main-container {
  display:flex;
  justify-content: center;
}

/* Estilos do conteúdo principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;/* Adicione um espaçamento inferior para o footer */
}

.question {
  margin-bottom: 20px;
}

.question p {
  margin-bottom: 10px;
}

.content {
  text-align: justify;
}

h2 {
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
}

.paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
}

.form-container {
  width: 300px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 200%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 8px;
}

/* Estilos do rodapé */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 50px;
}

/* Estilos do botão de enviar */
form button[type="submit"] {
  margin-top: 20px;
  width: 50%;
}

/* Estilos da seção FAQ */
section.faq {
  text-align: justify;
  max-height: 400px; /* Ajuste a altura máxima conforme necessário */
  overflow-y: scroll;
  margin-bottom: 100px; /* Adicione uma margem inferior adequada */
}

section.faq h2 {
  margin-bottom: 20px;
}

section.faq p {
  margin-bottom: 10px;
}

.faq-container {
  display: flex;
  justify-content: center;
}

.faq-content {
  max-width: 800px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente o conteúdo */
  padding: 0 20px; /* Adiciona espaçamento interno ao conteúdo */
  text-align: justify; /* Justifica o texto */
}

/* Media queries para tornar o site responsivo */
/* Responsividade */
/* 320px */
@media screen and (max-width: 320px) {
  /* Estilos específicos para telas de até 320px de largura */
  /* ... */
}

/* 768px */
@media screen and (min-width: 321px) and (max-width: 768px) {
  /* Estilos específicos para telas entre 321px e 768px de largura */
  /* ... */
}

/* 1366px */
@media screen and (min-width: 769px) and (max-width: 1366px) {
  /* Estilos específicos para telas entre 769px e 1366px de largura */
  /* ... */
}

/* Acima de 1366px */
@media screen and (min-width: 1367px) {
  /* Estilos específicos para telas maiores que 1366px de largura */
  /* ... */
}

@media (max-width: 768px) {
  /* Estilos para telas menores que 768px de largura (ex: tablets em modo retrato) */
  .banner {
    height: 150px;
  }
}

@media (max-width: 480px) {
  /* Estilos para telas menores que 480px de largura (ex: smartphones em modo retrato) */
  .banner {
    height: 100px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .nav-right {
    float: none;
  }
}

/* Estilos da imagem ao lado do texto */
.image-container {
  float: left; /* Alinhar à esquerda */
  margin-right: 20px; /* Espaçamento à direita */
  margin-bottom: 10px; /* Espaçamento inferior */
}


.image-container img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}


